:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --bgr-white-color: #f5f5f5;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --bgr-grey-color: #f5f4fa;
  --bgr-darck-color: #2f303a;
}
section {
  background-color: var(--primary-white-color);
}
body {
  background-color: var(--bgr-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* header */
.list {
  list-style: none;
}

.logo {
  color: #000000;
  font-family: Raleway;

 font-weight: 700;
 font-size: 26px;
 line-height: 1.19;

}

/* site-nave */

.logo-link {
  color: var(--accent-color);
  font-family: Raleway;

 font-weight: 700;
 font-size: 26px;
 line-height: 1.19;
}

.site-nave .link {
  color: var(--primary-text-color);

 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;

}
 .site-nave .link:hover,
.site-nave .link:focus {
  color: var(--accent-color);
} 

.site-nave .link.current{
 color: var(--accent-color);
}

.adress-head .link {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

}
.adress-head .link:hover,
.adress-head .link:focus {
  color: var(--accent-color);
}

/* HERO */
.hero {
  background-color: var(--bgr-darck-color);
}
.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
/* button */
.button {
  color: var(--primary-text-color);
}

.button-main{
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
   text-align: center;
  letter-spacing: 0.06em;
}
.button-prymary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button-secondary {
  color: var(--primary-text-color);
  background-color: var(--bgr-grey-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62px;
}

  .button-secondary .link:hover,
  .button-secondary .link:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
  button { 
    font-family: inherit;
  }

/* main-page */

.feature-list .title,
.our-team .title {
  color: var(--primary-text-color);

 font-weight: 700;
 font-size: 14px;
 line-height: 1.14;
}
.feature-list .discription,
.our-team .discription
{
  color: var(--secondary-text-color);

 font-weight: 400;
 font-size: 14px;
 line-height: 1.71;
}

.main-title{
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

}

.action-photo .title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

}

.block-photo .title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
letter-spacing: 0.06em;
}
.block-photo .discription {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* footer */

.footer {
  background-color: var(--bgr-darck-color);
}
.logo-footer{
  color: var(--primary-white-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-nave .link{
  color: var(--secondary-white-color);

  font-weight: 400;
 font-size: 14px;
 line-height: 1.71;
}
 .footer-nave .link:hover,
 .footer-nave .link:focus {
  color: var(--primary-white-color);
} 
 

/* main background white:    #F5F5F5 */
/* second text white         #FFFFFF */
/* background button grey    #F5F4FA */
/* background/text   blue    #2196F3 */
/* logo black                #000000 */
/* main text black           #212121 */
/* second text grey          #757575*/
/* footer-grayrgba(255, 255, 255, 0.6) */
/* Font Raleway Weight 700 */
/* Font Roboto Weight 400, 500, 700, 900 */
