body{
    background-color:#F5F5F5;
    color:#212121;
}
.list{
    list-style: none;
}
   .logo{
    color: #000000;
   } 
   .site-nave .link{
    color: #212121;
   }
   .site-nave .link:hover,
   .site-nave .link:focus {
    color:#2196F3;
   }
   .email{
    color:#2196F3;
   }
   .phone{
    color: #757575;
   }

    
    
   
    /* main background white:    #F5F5F5 */
/* second text white         #FFFFFF */
/* background button grey    #F5F4FA */
/* background/text   blue    #2196F3 */
/* logo black                #000000 */
/* main text black           #212121 */
/* second text grey          #757575*/
/* footer-grayrgba(255, 255, 255, 0.6) */